/* .container {
     display: block;
} */
.special {
     margin-top: 100px;
}

.card {
     font-weight: bold;
     /* display: block; */
     margin-top: 5%;
     /* margin: 0px !important; */
}
.card-content {
     padding: 0px !important;
}

.newuser {
     text-align: center;
     font-size: 15px;
}
/* body {
     background-image: url("https://images.all-free-download.com/images/graphicthumb/creative_scroll_paper_background_vector_set_544268.jpg");
} */
.newuser {
     font-weight: bold;
}
footer {
     text-align: center;
     /* padding-bottom: 10px;*/
     position: fixed;
     bottom: 0;
     width: 100%;
}

.page-footer {
     padding-top: 0;
     background-color: #0A7533;
     
}

i {
     /*position: fixed;*/
}

.nav-wrapper {
     background-color: #0A7533;
}

.brand-logo {
     font-family: 'Homemade Apple', cursive;

}

.scroll {
     height: 20px;
     width: 20px;
}

