/* GLOBAL STYLING */

.nav-wrapper {
     background-color: #0a7533;
}

footer {
     position: fixed;
     bottom: 0;
     width: 100%;
     text-align: left;
}

.page-footer {
     padding-top: 0;
     background-color: #0a7533;
}

.brand-logo {
     font-family: "Homemade Apple", cursive;
}

.copyright {
     text-align: left;
}

/* BEGIN LOGIN PAGE */

#landingPage {
     text-align: center;
}

.special {
     margin-top: 200px;
}

#colorChange {
     background-color: #0a7533;
}

#login-btn {
     background-color: #0a7533;
}

.moveRight {
     padding-left: 20px;
}

/* END LOGIN PAGE */

/* START REGISTER PAGE */

.registerForm {
     margin-top: 100px;
}

#colorChange2 {
     background-color: #0a7533;
}

#register-btn {
     background-color: #0a7533;
}

/* END REGISTER PAGE */

.card {
     font-weight: bold;
     /* display: block; */
     margin-top: 5%;
     /* margin: 0px !important; */
}

.card-content {
     padding: 0px !important;
}

.newuser {
     text-align: center;
     font-size: 15px;
}

/* body {
     background-image: url("https://images.all-free-download.com/images/graphicthumb/creative_scroll_paper_background_vector_set_544268.jpg");
} */

.newuser {
     font-weight: bold;
}

.create {
     text-align: center;
     font-weight: bold;
     font-size: 30px;
     margin-top: 50px;
     margin-bottom: 40px;
}

.scroll {
     height: 20px;
     width: 20px;
}


/* side navbar */

/* header,
main,
footer {
     padding-left: 300px;
}

@media only screen and (max-width: 992px) {
     header,
     main,
     footer {
          padding-left: 0;
     }
} */
/* starts sidebar */
.mynav {
     margin: 0;
     max-width: 1280px;
     width: 90%;
}
.mfooter {
     z-index: auto;
}
#recipientname {
     border: none;
     border-style: ridge;
     width: 70%;
}
/* .createlist2 {
     border: none;
     border-style: ridge;
     width: 70%;
} */
.rlist {
     margin-left: 20%;
     margin-right: auto;
     margin-bottom: 20px;

     border-style: ridge;
     /* width: 70%; */
     width: 40%;
}
.createlist {
     border: none;
     border-style: ridge;
     width: 70%;
}
/*  Snow animation and christmas countdown credit goes to the awesome person below!!! */
/* _______________________________https://codepen.io/sashatran/pen/mOWLLB  ______________________________________ */

@import url('https://fonts.googleapis.com/css?family=Cookie');

body {
  background-color: #F24236;
  width: 100%;
  font-family: 'Cookie', cursive;
  overflow: hidden;
}

.container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */

}

#days {
  font-size: 30px;
  color: #FFF;
  text-align: center;
  letter-spacing: 3px;
}

.drop {
	position: absolute;
	top: 0;	
	z-index: -1;
  opacity: 0;
}
.snow {
	height: 8px;
	width: 8px;
	border-radius: 100%;
	background-color: #FFF;
  box-shadow: 0 0 10px #FFF
}


.animate {
	animation: falling 8.5s infinite ease-in;	
}


@keyframes falling {
	0% {top: 0; opacity: 1;}
	100% {top: 1500px; opacity: 0}
}
/* _______________________________________________________________________________________________________ */

