<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Naughty or Nice</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="login">Login</a></li>
      </ul>
    </div>
  </nav>

<h1>{{ message }}</h1>

<div style="width: 60%; margin: 20px auto;">
    <h2>Sign Up Form</h2>
    <form class="sign-up">
        <div class="form-group">
            <label for="userFirstName">First Name</label>
            <input type="text" class="form-control" id="userFirstName" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="userLastName">Last Name</label>
            <input type="text" class="form-control" id="userLastName" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="userEmail">Email address</label>
            <input type="email" class="form-control" id="userEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="userPassword">Password</label>
            <input type="password" class="form-control" id="userPassword" placeholder="Password">
        </div>
        <button id="SignUp-btn" type="submit" class="btn btn-default">Sign Up</button>
    </form>
</div>
<div style="width: 60%; margin: 20px auto;">
    <h2>create recipient</h2>
    <form class="sign-up">
        <div class="form-group">
            <label for="recipientName">First Name</label>
            <input type="text" class="form-control" id="recipientName" placeholder="recipient Name">
        </div>
        <button id="newRecipient-btn" type="submit" class="btn btn-default">Add recipient</button>
    </form>
</div>
<button id="allRecipient-btn" type="submit" class="btn btn-default">see all recipients</button>



<script>
    $(document).ready(function () {
        let currentUser;
        $("#SignUp-btn").on('click', function (event) {
            event.preventDefault()
            const newUser = {
                firstName: $("#userFirstName").val().trim(),
                lastName: $("#userLastName").val().trim(),
                email: $("#userEmail").val().trim(),
                password: $("#userPassword").val().trim()
            }
            console.log(newUser);

            $.post("/api/signUp", newUser).then(data => {
                console.log(data);
                currentUser = data.id;
            })
        });

        $("#newRecipient-btn").on('click', function (event) {
            event.preventDefault()
            const newRecipient = {
                name: $("#recipientName").val().trim(),
                id_user: currentUser,
            }
            console.log(newRecipient);

            $.post("/api/newRecipient", newRecipient).then(data => {
                console.log(data);
            })
        });
        $("#allRecipient-btn").on('click', function (event) {
            event.preventDefault()

            $.get("/api/allRecipients/" + currentUser, ).then(data => {
                console.log(data);
            })
        });
    })

</script>