<nav>
    <div class="nav-wrapper">
        <div class="brand-logo center">Naughty or Nice List</div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col l3 m3 s12"></div>
        <div class="col l6 m6 s12">

            <div class="card">
                <div class="card-action teal lighten-1 white-text">
                    <h3 style="text-align: center">
                        Registration Form
                    </h3>
                </div>
                <div class="card-content">
                    <div class="form-field">

                        <i class="small material-icons prefix">account_circle<input type="text" id="userfirstname"
                                placeholder="Enter FirstName here" /></i>

                    </div>
                    <br />
                    <div class="form-field">

                        <i class="small material-icons prefix">account_circle<input type="text" id="userlastname"
                                placeholder="Enter LastName here" /></i>

                    </div>
                    <br />
                    <div class="form-field">

                        <i class="small material-icons prefix">email<input type="text" id="email" class="validate"
                                placeholder="Enter Email here" /></i>

                    </div>
                    <br />
                    <div class="form-field">

                        <i class="small material-icons prefix">lock<input type="password" id="password1"
                                placeholder="Enter Password here" /></i>

                    </div>
                    <br />
                    <div class="form-field">

                        <i class="small material-icons prefix">lock<input type="password" id="password2"
                                placeholder="Confirm Password here" /></i>

                    </div>
                    <br />

                    <div class="form-field">
                        <button class="btn-large waves-effect waves-light" style="width: 100%" id="register-btn">
                            Register
                        </button>
                    </div>
                    <br />
                </div>
                {{!--  <div class="newuser">
                                   Already have an account?Login
     
                                   <a href="user.html">here</a>
                              </div> --}}
            </div>

        </div>
    </div>
</div>
<div class="footer-fixed">
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">© Copyright</div>
        </div>
    </footer>
</div>
<script src="js/register.js" type="text/javascript"></script>